html, body {
    height: 100%;
}

/* Center table on the screen using modern flex display */
#eventTimes {
    display: flex;
    align-items: center;
    justify-content: center;
}

#eventTimes tbody > tr {
    background-color: var(--background-color);
}


#locationDisplay form  {
    margin-top: 0.5rem;
}

#mapWrapper {
    position: relative;
    width: 100%;
    padding: 0 0 0 0;
    box-sizing: content-box;
    clip-path: inset(0px);
    margin-bottom: 0.5rem;
    background-color: green;
}

#mapWrapper > img:nth-child(1) {
    /* eliminate extra space at bottom*/
    display: block;
}

#mapWrapper > * {
    margin:  0 0 0 0;
    padding: 0 0 0 0;
}

/* Set the cursor and any other icons to use their positions as their centers
 * IMPORTANT: do not set the position here */
#mapWrapper > svg {
    position: absolute;
    overflow: visible;
}

section {
    width: 100%;
}

section > *  {
    text-align: center;
}

form > label {
    width: 100%;
    display: block;
}

/* Use horizontal layout on larger screens */
@media only screen and (min-width: 400px) {
    section {
        display: flex;
        flex-wrap: wrap;
    }

    section > * {
        flex: 1;
    }
}
